.hide{
    display: none;
}

.background{
    background: plum;
}
.container{
    background: papayawhip;
    width: 80%;
    padding: 2em 2em;
    margin: auto;
    margin-top: 4em;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.answer-selection{
    border: 2px solid green;
    background: yellow;
    margin: 1em;
    flex-wrap: wrap;
}

.red{
    color: red;
}

