.background{
    background-image: url("../images/upfeathers.png");
}

/* Text Styling */
.title{
    font-family: 'Homemade Apple', cursive;
    color: white;
    font-size: 3em;
    padding: 15px 0px;
}

.action-button{
    font-family: 'Nanum Pen Script', cursive;
    background: none;
    color: white;
    font-size: 3em;
    border: 3px dashed white;
    margin: 40px 0px;
    padding: 0em .5em;
}

.action-button:hover{
    transform: scale(1.1);
}

.questions{
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    font-size: 3em;
    padding: 1em 0em;

}

.timer{
    font-family: 'Homemade Apple', cursive;
    color: white;
    position: absolute;
    z-index: 98;
    top: 25px; 
    right: 50px;
    font-size: 5em;
}

.text{
    font-family: 'Coming Soon', cursive;
    color: white;
    font-size: 2em;
    padding: .7em 0em;


}

/* Chalkboard Styling */
.container{
    background: rgb(32, 32, 32);
    width: 80%;
    padding: 2em 2em;
    margin: auto;
    margin-top: 3em;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    height: 510px;
    border: 30px solid rgb(223, 176, 102);
    border-radius: 25px;
    /*background: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(19, 19, 19));*/
    background: linear-gradient(to bottom right, rgb(65, 136, 65), rgb(41, 99, 41));
    position: relative;
}

.chalk{
    position: absolute;
    width: 90px;
    height: 15px;
    background: white;
    z-index: 99;
    bottom: 0;
    right: 35px;
}

.eraser{
    position: absolute;
    width: 110px;
    height: 25px;
    background: rgb(124, 124, 124);
    z-index: 90;
    bottom: 0;
    right: 70px;
    border-top: 15px solid rgb(29, 29, 29);
}

/* Special Effects */
.answer-selection{
    font-family: 'Nanum Pen Script', cursive;
    background: none;
    color: white;
    font-size: 2em;
    border: 3px dashed white;
    margin: 40px 20px;
    padding: .2em .5em;
    flex-wrap: wrap;
}

.answer-selection:hover{
    transform: scale(1.1);
}

.hide{
    display: none;
}

.red{
    color: rgb(253, 23, 23);
}

/* Footer */
.footer{
    display: flex;
    width: 100%;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    font-family: 'Nanum Pen Script', cursive;

}

